[submodule "uvmprimer"]
	path = uvmprimer
	url = git@github.com:raysalemi/uvmprimer.git
[submodule "uvm-python"]
	path = uvm-python
	url = git@github.com:cmarqu/uvm-python.git
[submodule "pyuvm"]
	path = pyuvm
	url = git@github.com:pyuvm/pyuvm.git
[submodule "cocotb"]
	path = cocotb
	url = git@github.com:cocotb/cocotb.git
[submodule "uvm-testbench-tutorial-simple-adder"]
	path = uvm-testbench-tutorial-simple-adder
	url = git@github.com:naragece/uvm-testbench-tutorial-simple-adder.git
[submodule "axi-uvm"]
	path = axi-uvm
	url = git@github.com:naragece/axi-uvm.git
[submodule "AHB2"]
	path = AHB2
	url = git@github.com:GodelMachine/AHB2.git
[submodule "axi"]
	path = axi
	url = git@github.com:pulp-platform/axi.git
